pluggy==0.7.1
pyparsing==2.1.10
pytest==3.8.1
requests==2.13.0
selenium==2.53.6
pytest-parallel==0.0.3
pytest-rerunfailures==4.1
pytest-forked==0.2
pytest-xdist==1.23.0
webdriver-manager==1.7
allure-pytest==2.5.1
allure-python-commons==2.5.1
configparser==3.5.0
